# Ігноруємо віртуальне середовище
venv/
__pycache__/

# Ігноруємо файли, створені IDE (наприклад, PyCharm, VS Code)
.idea/
.vscode/

# Ігноруємо файли для тестів
*.log
*.sqlite3

# Ігноруємо кеші, сесії, та тимчасові файли
*.pyc
*.pyo
*.pyd
.DS_Store
